body {
    background-color: skyblue;
}

nav {
    padding-top: 30px;
    margin-left: 30px;
}

li {
    padding: 5px;
}

h1 {
    text-align: center;
    font-family: Georgia;
    padding-bottom: 30px;
}

p {
    font-family: Georgia;
    text-align: center;
}

#locations {
    text-align: center;
}

ul {
    list-style-type: none;
}

li {
    font-family: Georgia;
    padding-top: 15px;
}

#sales-h1 {
    color: darkblue;
    font-weight: bolder;
}

td {
    border: 1px solid black;
    padding: 15px;
    border-radius: 5px;
    border-color: gold;
    text-align: center;
    background-color: white;
}

main {
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
}

td:hover {
    background-color: red;
}

#family {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#fish {
    float: right;
}

#googlefont {
    font-family: 'Bebas Neue', cursive;
    font-size: xx-large;
}